body {
    background-color: aqua;
}

.login_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    font-size: 22px;
    max-width: 500px;
    min-height: 672px;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    background-color: #00000080;
  }
  
  .login_form > input {
    margin-top: 200px;
  }
  
  input {
    margin: 0 auto;
    background-color: black;
    opacity: 50%;
    color: white;
    margin-top: 10px;
    width: 300px;
    height: 59px;
    font-size: 22px;
    margin-bottom: 14px;
    max-width: 527px;
    padding: 0 10%;
  }
  
  .pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  
  i {
    position: absolute;
    top: 38%;
    right: 16%;
  }
  i:hover {
    color: #00fcb6;
    cursor: pointer;
  }
  
  button {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }
  

  .span-border {
      margin-top: 80px;
      border-top:2px solid #00fcb6;
      padding-top: 50px;

  }
  .span-link {
      border: 2px solid black;
      border-radius: 25px;
      padding: 20px;
      background-color: #00000080;
      text-decoration: n;
     
  }
  
  .span-link a {
      color: whitesmoke;
  }
  .span-link:hover, a:hover {
      background-color: #018c65;
      color:#00000080 ;
  }