* {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

header {
  margin-top: 1rem;

    div {
      // background-color: rgb(255, 102, 102);
    }
}

.navbar {
    // background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem;
  gap: 0px 0px;
  grid-template-areas: "logo nav-links end";

  .navbar-brand {
    grid-area: logo;
    // background-color: rgb(238, 116, 116);
    .navbar-item {
      margin-left: 3rem;
      width: 100%;
    }
  }

  .navbar-start {
    // background-color: rgb(252, 191, 79);
    .navbar-menu {
        // background-color: rgb(250, 250, 156);
      // padding-left: 3rem;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // grid-template-rows: 2.9fr;
      gap: 0px 0px;
      grid-template-areas: "resources community home profile";
      grid-area: nav-links;
      font-size: 1.75rem;

      .resources {
        // background-color: rgb(168, 223, 168);
        grid-area: resources;
      }
      .community {
        // padding-left: 25%;
        grid-area: community;
        // background-color: rgb(176, 197, 243);
      }
      .home {
        padding-left: 0%;
        grid-area: home;
        // background-color: rgb(91, 129, 199);
      }
      .profile {
        margin-left: 0rem;
        grid-area: profile;
        // background-color: rgb(216, 115, 203);
      }
    }
  }
  .end {
    // background-color: rgb(139, 104, 204);
    display: grid;
    // align-items: start;
    // margin-right: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . login";
    grid-area: end;

    .button {
      grid-area: login;
      background-color: #004aad;
      border: none;
      width: 100%;
      letter-spacing: .1rem;
      
    }
  }
}
