.Login {
  background: linear-gradient(-45deg, #262d92, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .login_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    font-size: 22px;
    max-width: 500px;
    min-height: 672px;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    background-color: #00000080;
  }

  .login_form > input {
    margin-top: 200px;
  }

  input,
  textarea {
    margin: 0 auto;
    background-color: black;
    color: aqua;
    margin-top: 10px;
    width: 300px;
    height: 59px;
    font-size: 22px;
    margin-bottom: 14px;
    max-width: 527px;
  }

  textarea {
    height: 100px;
    resize: none;
  }
  .pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }

  i {
    position: absolute;
    top: 35%;
    right: 10%;
  }
  i:hover {
    color: #00fcb6;
    cursor: pointer;
  }

  button {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }

  .span-border {
    margin-top: 80px;
    border-top: 2px solid #00fcb6;
    padding-top: 50px;
  }
  .span-link {
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: #00000080;
    text-decoration: n;
    &:hover {
      background-color: #004aad;
    }
  }

  a:hover {
    color: aquamarine;
  }
}
